Tests: iniexample
Depends: @, build-essential
Restrictions: allow-stderr

Tests: parse
Depends: @, build-essential

Tests: iniwrite
Depends: @, build-essential

Tests: upstream-issue-175
Depends: @, build-essential
